trigger:
- master

pool:
  name: Default  # your self-hosted Mac agent

variables:
  imageName: sample-pipeline-demo
  artifactoryUrl: 'soddiraju.jfrog.io'        # e.g. myrepo.jfrog.io
  artifactoryRepo: 'devops9-docker'     # e.g. docker-local
  
stages:
# -----------------------------
# Stage 1: Build Docker image
# -----------------------------
- stage: BuildAndRun
  displayName: Build and Run Docker Image
  jobs:
  - job: BuildRun
    steps:
    - task: Docker@2
      displayName: Build Docker image
      inputs:
        command: build
        Dockerfile: '**/Dockerfile'
        tags: |
          $(imageName):$(Build.BuildId)
    - script: docker save $(imageName):$(Build.BuildId) -o image.tar
      displayName: Save Docker image

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: 'image.tar'
        artifact: 'docker-image'
    
    # - script: |
    #     echo "Running the built image..."
    #     docker run --rm $(imageName):$(Build.BuildId)
    #   displayName: Run container and print output      


# -----------------------------
# Stage 2: Publish to Artifactory
# -----------------------------
- stage: Publish
  displayName: Push Docker Image to JFrog Artifactory
  dependsOn: BuildAndRun
  jobs:
  - job: Push
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: 'docker-image'
        path: '.'

    - script: |
        docker load -i image.tar
        
        echo "Logging in to JFrog Artifactory..."
        echo "$(artifactoryPassword)" | docker login $(artifactoryUrl) -u "$(artifactoryUser)" --password-stdin

        echo "Tagging image for Artifactory..."
        docker tag $(imageName):$(Build.BuildId) $(artifactoryUrl)/$(artifactoryRepo)/$(imageName):$(Build.BuildId)

        echo "Pushing image to Artifactory..."
        docker push $(artifactoryUrl)/$(artifactoryRepo)/$(imageName):$(Build.BuildId)
      displayName: Push image to Artifactory
