trigger:
- master

pool:
  name: Default  # your self-hosted Mac agent

variables:
  imageName: sample-pipeline-demo
  artifactoryUrl: 'soddiraju.jfrog.io'        # e.g. myrepo.jfrog.io
  artifactoryRepo: 'devops9-docker'     # e.g. docker-local
  
stages:
# -----------------------------
# Stage 1: Build Docker image
# -----------------------------
- stage: Build
  displayName: Build Docker Image
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      displayName: Build Docker image
      inputs:
        command: build
        Dockerfile: '**/Dockerfile'
        repository: '$(imageName)'
        tags: |
          $(imageName):$(Build.BuildId)

    - script: docker images
      displayName: List local images 

    - script: docker save $(imageName):$(Build.BuildId) -o image.tar
      displayName: Save Docker image
    

    - task: PublishPipelineArtifact@1
      displayName: Publish Docker image artifact
      inputs:
        targetPath: 'image.tar'
        artifact: 'docker-image'
    
    # - script: |
    #     echo "Running the built image..."
    #     docker run --rm $(imageName):$(Build.BuildId)
    #   displayName: Run container and print output      

# --------------------------------------------------
# Stage 2: Run the Image and Print Output
# --------------------------------------------------
- stage: Test
  displayName: Run and Verify Docker Image
  dependsOn: Build
  jobs:
  - job: RunImage
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: 'docker-image'
        path: '.'

    - script: |
        echo "Loading saved Docker image..."
        docker load -i image.tar
        echo "Running container..."
        docker run --rm $(imageName):$(Build.BuildId)
      displayName: Run Docker container and print output

# -----------------------------
# Stage 3: Publish to Artifactory
# -----------------------------
- stage: Publish
  displayName: Push Docker Image to JFrog Artifactory
  dependsOn: Test
  jobs:
  - job: Push
    steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        artifact: 'docker-image'
        path: '.'

    - script: |
        docker load -i image.tar
        
        echo "Logging in to JFrog Artifactory..."
        echo "$(artifactoryPassword)" | docker login $(artifactoryUrl) -u "$(artifactoryUser)" --password-stdin

        echo "Tagging image for Artifactory..."
        docker tag $(imageName):$(Build.BuildId) $(artifactoryUrl)/$(artifactoryRepo)/$(imageName):$(Build.BuildId)

        echo "Pushing image to Artifactory..."
        docker push $(artifactoryUrl)/$(artifactoryRepo)/$(imageName):$(Build.BuildId)
      displayName: Push image to Artifactory

    - script: docker system prune -af
      displayName: Cleanup local Docker cache
